body{width: 100%;}
body,p,ul,li{padding: 0;margin: 0;}
.clear:after{content: ".";clear: both;display: block;height: 0;overflow: hidden;visibility: hidden;}
/*头部*/
#head{width:1428px;height: 30px;margin: 0 auto;background-color:#eeeeee;padding-top:10px;}
#head .class1{width: 1189px;height: 18px;margin: 0 auto;}
#head .link_1{display: block;font: "微软雅黑";color:#888888;font-size: 14px;height: 18px;line-height: 18px;padding-left: 21px;text-decoration: none;float: left;}
#head .link_2{display: block;font: "微软雅黑";color:#888888;font-size: 14px;height: 18px;line-height: 18px;padding-left: 21px;text-decoration: none;float: left;}
#head .class1 .para1{padding-right: 0;float: right;color:#888888;font: "微软雅黑";font-size: 14px;}
#head .class1 .para1 a{text-decoration: none;color:#e3393c ;padding: 0 4px;}

#head_next{width:1428px;height: 78px;margin: 0 auto;position: relative;}
#head_next .link_3{position: absolute;border:none;left: 115px;}
#head_next #logo-next{padding-top: 8px;width: 500px;height: 70px;float: left;margin-left:412px;}
#head_next #logo-next .text{display: block;border: 2px solid #e9225f;font-size:12px;width: 350px;height: 32px;float: left;background: url(../img/search.png) no-repeat 3px center;padding-left: 30px;}
#head_next #logo-next .search{width: 84px;height: 38px;font-size:12px;background-color: #e9225f;text-align: center;line-height: 38px;float: left;}
#head_next #logo-next .search a{text-decoration: none;color: white;}
#head_next #logo-next .para2{display: block;}
#head_next #logo-next .para2 a{text-decoration: none;padding: 0 5px;font-size: 12px;color: #666;}
#head_next #logo-next .para2 span{color: #E3393C;}
#head_next #shoppingcar{padding-top: 8px;float: left;margin-left:200px;width:213px ;}
#head_next #shoppingcar .car{width: 130px;height: 34px;border: 2px solid #888888;float: left;background-color: #f9f9f9;}
#head_next #shoppingcar .car .car_shop{padding-left: 21px;line-height: 14px;font-size:14px;background: url(../img/sprite.png) no-repeat -1px -1182px;margin-left: 11px;margin-top: 10px;float: left;}
#head_next #shoppingcar .car .counter{width: 18px;height: 18px;border-radius: 90%;text-align: center;line-height: 17px;background-color: #e9225f;margin-left:5px;margin-top: 8px;float: left;}
#head_next #shoppingcar .collect{width: 70px;height: 34px;margin-left:5px;border: 2px solid #888888;float: left;background-color: #f9f9f9;}
#head_next #shoppingcar .collect .star{margin-left: 11px;margin-top: 9px;background: url(../img/sprite.png) no-repeat -1px -32px;padding-left: 21px;font-size: 14px;}
#head_next #shoppingcar a{text-decoration: none;color: #999;}

#fixed_th{position: fixed;top:568px;right:3px;height:40px ;width: 40px;cursor: pointer;border-radius: 20px;opacity: 0.9;background: #333 url(../img/sprite3.png) no-repeat 4px 4px;z-index: 3;display: none;}

#head_nav{width: 1428px;height: 48px;background:#ff6699;margin: 0 auto;}
#head_nav #list_nav1{height: 48px;margin-left: 112px;float: left;width: 800px;}
#head_nav #list_nav1 li{line-height: 48px;color: white;padding: 0 27px;float: left;font-size: 16px;list-style: none;}
#head_nav #list_nav1 li:hover{background-color: #e9225f;}
#head_nav #list_nav2{height: 48px;float: right;margin-right: 103px;width: 291px;}
#head_nav #list_nav2 .li1{line-height: 48px;color: white;padding-left:40px;float: right;font-size: 16px;width:82px;list-style: none;background: url(../img/sprite2.png) no-repeat 10px -224px;}
#head_nav #list_nav2 .li2{line-height: 48px;color: white;padding-left:40px;float: right;font-size: 16px;width:82px;list-style: none;background: url(../img/sprite2.png) no-repeat 10px -278px;margin-right: 8px;}
#head_nav #list_nav2 li:hover{background-color: #e9225f;}


